/* for mobile devices*/
@media screen and (min-width: 320px) and (max-width: 480px){
         .navcolor{
          background-color:#E9EAEB; 
          opacity:0.5;
          height:90px;
         }
}

body,html{
	height:100%;
	width:100%;
	position:relative;
 /*  background-color:#E9EAEB; */
   
}

.LogoText{
   margin: 0 0 0 0 ;
   color:#333333;
   font-size:26px;
   font-weight: normal;
   font-family: 'Lato-700';	
   text-shadow: 4px 4px 4px #aaa;
   line-height:30px;
   float:left;   
}
.LogoText:hover{
 -webkit-text-fill-color: #8FBFBD;
  transition: width 2s, height 2s, transform 2s;
  transition-delay: 2s;
  transition-duration:60s;
   transition-timing-function: ease;
}

/* The background pic on the home page*/
.HomeImageDiv{
   padding: 0 0 0 0;
	margin:  0 0 0 0;
	background: 
	           linear-gradient(rgba(86, 141, 138,0.45),rgba(0, 0, 0,0.45)),
              
              url('../images/laptop.jpg'); 
              
	background-position: center;
   background-size: cover;
   height: 560px;
   width:100%;
   float:left;
}


.MenuText{
  font-size:16px;
  line-height:30px;
  font-family: 'Lato', sans-serif;	
  text-align:center;
  
}

.MenuText:hover{ 
   color: white;   
   font-family: 'Lato', sans-serif;  
   background-color:#8FBFBD;
}

.Activated{
      background-color:#8FBFBD;
}


h1{
color: #333333;
}

.CenterDiv{
   margin: 15% 10% 0 10%;
   padding: 5% 5% 5% 5%;
   float:left;
	font-size:40px;
   line-height:50px;
   font-weight:normal;
   height:200px;
   width: 80%;
   text-align: center;
	color:white;
   font-family: 'Lato', sans-serif;  
  }
.CenterText{
  font-size:20px;
  line-height:30px;
  font-weight:normal;
  width: auto;
  color:white;	
  text-align:center;
}


.Portfolio{
 padding: 0 5% 0 15%;
 
}

.PortfolioImg{
 padding-top:0;
 margin: 0 0 0 0 ;
 height:200px;
 width:200px;
}

.PortfolioImg:hover{
      background: linear-gradient(rgba(86, 141, 138,0.45),rgba(0, 0, 0,0.45));
      transition: all 0.45s;
}



.PortfolioText{
 padding:10px 0 0  5px;
 margin: 0 0 0 0 ;
 text-align:left;
 height: 70px;
 font-size:15px;
 font-weight: bold;
 font-family: 'Lato', sans-serif;
 color: #333333;
 width: 300px;
  background-color: #F5F5F5
 z-index:200;
 position:absolute;
}



  
  h1{
  text-align:center;
  }
  .ProjectName
  {
   width:auto;
   
   border-radius:10px;
   background-color:green;
   color:white;   
  }
  

